*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.5rem;
  margin: 0 0 20px 0;
}

button {
  border: none;
  padding: 10px 0px;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

button {
  background: darkred;
}

button:focus,
button:hover {
  border: 2px solid deepskyblue;
}

button:active {
  transform: translateY(5px);
}

p {
  font-weight: 700;
  font-size: 2rem;
}
